.create-container,.update-container{
    width: 80vw;
    position: fixed;
    top: 50%;
    left: -100%;
    transform: translate(-50%,-50%);
    z-index: 100;
    box-shadow: 2px 2px 20px black;
    transition: 0.4s all linear;
}
.create-container::after,.update-container::after{
    width: 30px;
    content: 'C';
    position: absolute;
    top: -10px;
    left: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 2px 5px;
    background: #38c500;
}
.update-container::after{
    content: 'U';
    background-color: rgb(0, 76, 206);

}